body{
    background-color: rgb(176,142,107);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

#box_container{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container{
    width: 50%;
    height: 70%;
    position: absolute;

    /* grid setup */
    display: grid;
    gap: 10px;
}

.box{
    width: 100%;
    height: 100%;

    background-color: rgb(230,208,178);
    border-radius: 20px;
    transition: all .2s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    box-shadow: -1px -1px 27px -1px rgb(0, 0, 0);
}

.element_svg{
    width: 50%;
    height: 50%;

    transition: all .2s;
}

#button_container{
    width: 100vw;
    height: 100vh;
    gap: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.num_button{
    width: 10%;
    height: 10%;
    background-color: rgb(230,208,178);

    border: 1px solid white;

    transition: all .2s;
}

.num_button:hover{
    box-shadow: -1px -1px 27px -1px rgb(0, 0, 0);
}